{% extends 'base.html' %}

{% block title %}
    Пост - {{ object.title }}
{% endblock %}

{% block content %}
    <div>
        <h3><a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a> - <a
                href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></h3>
    </div>
    <div>
        <h3>
            {{ object.title }}
        </h3>
        <p>
            {{ object.created }}
            <b>Автор - {{ object.author }}</b>
        </p>
        <p>
            {{ object.content }}
        </p>
        <hr>
    </div>
    <div>
        {% for comment in object.comment_set.all %}
            <div>
                <p>
                    {{ comment.content }}
                </p>
                автор - {{ comment.author }}
            </div>
            <hr>
        {% endfor %}
    </div>
    <form method="post" action="{% url 'post-add-comment' object.topic.forum_id object.topic_id object.uuid %}">
        {% csrf_token %}
        <div>
            <label for="content">Текст комментария</label>
            <textarea name="content" id="content"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Написать комментарий</button>
        </div>
    </form>
{% endblock %}