{% extends 'base.html' %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="ivan228">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Пароль">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    <a href="{% url 'users-registration' %}">Регистрация</a>
{% endblock %}