{% extends 'base.html' %}

{% block title %}
    О проекте
{% endblock %}

{% block content %}
    <div>
        <h1>Наше АНО будет радо любой критике, предложениям и донатам</h1>
        <p>
            Платформа для Open source проектов на территории Республики Саха (Якутии) имеет целью содействовать детям и
            подросткам в дальнейшем обучении разработке и программированию. Платформа позволяет людям вносить свои идеи
            проектов, которые будут доступны для разработки детьми и подростками. Школьники смогут выбрать проект,
            который
            соответствует их уровню знаний и интересам, и приступить к его разработке.
        </p>
        <p>
            Основная задача платформы - помочь детям перейти от теоретического обучения программированию к практическому
            применению своих знаний. Платформа предоставляет возможность школьникам попрактиковаться в программировании
            и
            улучшить свои навыки. Администраторы платформы также будут осуществлять бесплатный код ревью каждого
            проекта,
            что поможет улучшить качество проектов и обучить детей правильному подходу к программированию.
        </p>
        <p>
            Платформа будет базироваться на принципах открытости и свободного доступа к исходным кодам проектов. Все
            проекты
            будут находиться в открытом доступе и могут быть использованы и изменены другими разработчиками. Это
            позволит
            создавать целые экосистемы вокруг проектов и стимулировать сотрудничество и обмен знаниями между
            участниками.
        </p>
        <p>
            Для использования платформы школьникам и разработчикам необходимо будет зарегистрироваться на сайте. В
            личном
            кабинете школьники смогут выбирать проекты для разработки, а разработчики - добавлять новые проекты и
            следить за
            их развитием. Платформа будет также иметь форумы для обсуждения проектов и обмена опытом между участниками.
        </p>
    </div>

{% endblock %}