{% extends 'base.html' %}

{% block title %}
    Наша компания
{% endblock %}

{% block content %}
    <div>
        <p class="h1">Веда технологий</p>
        <p>
            Наша компания является звеном в обучении детей и подростков программированию. Компания предоставляет услугу
            бесплатного ревью кода для проектов, созданных школьниками на платформе, что помогает улучшить качество
            проектов и обучить детей правильному подходу к программированию.</p>

        <p>Компания состоит из профессиональных разработчиков с опытом работы в сфере программирования и разработки.
            Каждый разработчик имеет опыт работы над реальными проектами и владеет различными языками программирования и
            технологиями.</p>

        <p>Основные функции компании:
        <ul>
            <li>Ревью кода для проектов, созданных школьниками на платформе</li>
            <li>Предоставление рекомендаций по улучшению кода и проектов в целом</li>
            <li>Обучение школьников правильному подходу к программированию</li>
            <li>Компания обеспечивает бесплатное ревью кода для проектов, созданных школьниками на платформе.</li>
            <li>Разработчики компании анализируют код и выявляют ошибки, несоответствия требованиям и проблемы с
                производительностью.
            </li>
        </ul>

        После этого они предоставляют рекомендации по улучшению кода и проектов в целом, помогая школьникам улучшить
        свои навыки программирования и стать лучшими разработчиками.</p>

        <p>Компания также обучает школьников правильному подходу к программированию. Разработчики делятся своим опытом
            работы, дают советы и рекомендации по написанию кода, подбору инструментов и технологий. Они также помогают
            школьникам понимать лучшие практики и подходы к разработке проектов.</p>

        <p>В целом, компания, которая занимается ревью кода для школьников на платформе Open source проектов на
            территории Республики Саха (Якутии), является важным звеном в обучении детей и подростков программированию.
            Она помогает детям улучшить свои навыки программирования, развить свой творческий потенциал и подготовиться
            к будущей карьере в сфере IT.
        </p>
    </div>
{% endblock %}