{% extends 'base.html' %}

{% block title %}
    Вопросы и ответы
{% endblock %}

{% block content %}
    <div>
        <div>
            <p class="h1">Что такое форум идей?</p>
            <p>Форум идей для платформы Open source проектов на территории Республики Саха (Якутии) является одной из
                основных функций платформы. На форуме участники смогут обсуждать идеи проектов, высказывать свои
                предложения и советы, а также обмениваться мнениями и опытом.
            </p>
            <p>
                Основные функции форума идей:
            <ul>
                <li>Добавление новых тем для обсуждения</li>
                <li>Ответы на сообщения других участников</li>
                <li>Модерация форума администраторами</li>
                <li>Поиск тем и сообщений по ключевым словам</li>
            </ul>

            </p>
            <p>
                Форум идей поможет участникам платформы сформировать общее понимание идей проектов, обсудить их сильные
                и
                слабые стороны, а также дать рекомендации по их улучшению. Участники смогут высказать свои мнения и
                предложения, что поможет улучшить качество проектов и сделать их более интересными и полезными для всех
                участников платформы.</p>
            <p>
                Форум идей также будет помогать участникам находить интересные идеи проектов для дальнейшей разработки.
                Участники смогут искать темы и сообщения по ключевым словам, что поможет найти идеи проектов,
                соответствующие их интересам и уровню знаний.</p>
            <p>
                Администраторы платформы будут следить за форумом идей, модерировать сообщения и редактировать их при
                необходимости. Они также будут отвечать на вопросы участников и предоставлять необходимые инструкции и
                рекомендации.</p>
            <p>
                В целом, форум идей будет служить важным инструментом для обмена знаниями, идеями и опытом между
                участниками
                платформы. Он поможет улучшить качество проектов, повысить их полезность и интересность для всех
                участников,
                а также стимулировать развитие программистского сообщества в регионе.</p>
        </div>
        <div>
            <p class="h1">Какие технологии требуется использовать в этом проекте и почему?</p>
            <p>
                В данном проекте требуется использовать либо чистый <b>Django</b>, либо <b>Django + React (vite)</b>,
                либо
                <b>Django
                    + Flutter</b>
            </p>
            <p>Поскольку с этими технологиями очень хорошо знакомы и будет качественное ревью проекта :)</p>
        </div>
        <div>
            <p class="h1">Как работать с форумом идей?</p>
            <p>Вы выкладываете ваши идеи на форум идей, затем обсуждаете вашу идею. Администраторы платформы, когда
                увидят требуемые технологии и уже сформированную идею, создают репозиторий и проект. Далее участники
                могут писать код и создавать пулл реквесты со своих клонов репозитория, которые затем администраторы
                проверяют и если проходят ревью, то вливают в основную ветку</p>
        </div>
    </div>
{% endblock %}