{% extends 'base.html' %}

{% block title %}
    Идеи Якутии
{% endblock %}

{% block content %}
    <div>
        <h3>Каждый раз, прежде чем предложить проект, прочитайте <a href="{% url 'main-faq' %}">инструкцию</a></h3>
    </div>
    <div>
        {% if request.user.is_staff %}
            <a class="btn btn-primary" href="{% url 'projects-create' %}">Создать проект</a>
        {% endif %}
    </div>
    <div class="d-flex flex-row flex-wrap p-2">
        {% for object in object_list %}
            <div class="card m-1" style="width: 18rem;">
                <img src="{{ object.logo.url }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ object.name }}</h5>
                    <p class="card-text">{{ object.description|truncatechars:50 }}</p>
                    <a href="{{ object.get_absolute_url }}" class="btn btn-primary">Посмотреть подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}